In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
path = r"C:\Users\verma\Desktop\Selenium\chromedriver.exe"

In [3]:
driver=webdriver.Chrome(path)

In [4]:
driver.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X5uwmIgzY2w')

In [5]:
content=driver.page_source
soup=BeautifulSoup(content)
period=soup.findAll('p',attrs={'class':'period-name'})
print(len(period))
short_desc=soup.findAll('p',attrs={'class':'short-desc'})
print(len(short_desc))
temp=soup.findAll('p',attrs={'class':'temp temp-low'})
print(len(temp))
temp1=soup.findAll('p',attrs={'class':'temp temp-high'})
print(len(temp1))
desc=soup.findAll('div',attrs={'class':'col-sm-10 forecast-text'})
print(len(desc))

9
9
4
5
13

In [6]:
period

[<p class="period-name">Today<br/><br/></p>,
 <p class="period-name">Tonight<br/><br/></p>,
 <p class="period-name">Sunday<br/><br/></p>,
 <p class="period-name">Sunday<br/>Night</p>,
 <p class="period-name">Monday<br/><br/></p>,
 <p class="period-name">Monday<br/>Night</p>,
 <p class="period-name">Tuesday<br/><br/></p>,
 <p class="period-name">Tuesday<br/>Night</p>,
 <p class="period-name">Wednesday<br/><br/></p>]

In [7]:
short_desc

[<p class="short-desc" style="height: 54px;">Sunny</p>,
 <p class="short-desc" style="height: 54px;">Mostly Clear</p>,
 <p class="short-desc" style="height: 54px;">Sunny</p>,
 <p class="short-desc" style="height: 54px;">Partly Cloudy</p>,
 <p class="short-desc" style="height: 54px;">Sunny</p>,
 <p class="short-desc" style="height: 54px;">Partly Cloudy</p>,
 <p class="short-desc" style="height: 54px;">Mostly Sunny</p>,
 <p class="short-desc" style="height: 54px;">Partly Cloudy</p>,
 <p class="short-desc" style="height: 54px;">Mostly Sunny</p>]

In [8]:
temp

[<p class="temp temp-low">Low: 53 °F</p>,
 <p class="temp temp-low">Low: 54 °F</p>,
 <p class="temp temp-low">Low: 53 °F</p>,
 <p class="temp temp-low">Low: 54 °F</p>]

In [9]:
temp1

[<p class="temp temp-high">High: 75 °F</p>,
 <p class="temp temp-high">High: 76 °F</p>,
 <p class="temp temp-high">High: 77 °F</p>,
 <p class="temp temp-high">High: 72 °F</p>,
 <p class="temp temp-high">High: 72 °F</p>]

In [10]:
desc

[<div class="col-sm-10 forecast-text">Sunny, with a high near 75. Calm wind becoming west northwest around 6 mph in the afternoon. </div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 53. West wind 5 to 9 mph becoming calm  after midnight. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 76. Calm wind becoming northwest around 5 mph in the afternoon. </div>,
 <div class="col-sm-10 forecast-text">Partly cloudy, with a low around 54. West wind 5 to 8 mph becoming calm  after midnight. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 77. Light northwest wind. </div>,
 <div class="col-sm-10 forecast-text">Partly cloudy, with a low around 53.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 72.</div>,
 <div class="col-sm-10 forecast-text">Partly cloudy, with a low around 54.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 72.</div>,
 <div class="col-sm-10 forecast-text">Partly cloudy, with a low around 55.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 73.</div>,
 <div class="col-sm-10 forecast-text">Partly cloudy, with a low around 55.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 68.</div>]

In [11]:
Period=[]
Short_desc=[]
Temp=[]
Temp1=[]
Desc=[]

In [12]:
for i in period:
    Period.append(i.text)
Period

['Today',
 'Tonight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday']

In [13]:
df=pd.DataFrame(Period)
df=df.rename({0:'Period'},axis=1)
df

         Period
0         Today
1       Tonight
2        Sunday
3   SundayNight
4        Monday
5   MondayNight
6       Tuesday
7  TuesdayNight
8     Wednesday

In [14]:
for i in short_desc:
    Short_desc.append(i.text)
Short_desc

['Sunny',
 'Mostly Clear',
 'Sunny',
 'Partly Cloudy',
 'Sunny',
 'Partly Cloudy',
 'Mostly Sunny',
 'Partly Cloudy',
 'Mostly Sunny']

In [15]:
df1=pd.DataFrame(Short_desc)
df1=df1.rename({0:'Short_desc'},axis=1)
df1

      Short_desc
0          Sunny
1   Mostly Clear
2          Sunny
3  Partly Cloudy
4          Sunny
5  Partly Cloudy
6   Mostly Sunny
7  Partly Cloudy
8   Mostly Sunny

In [16]:
for i in temp:
    Temp.append(i.text)
Temp

['Low: 53 °F', 'Low: 54 °F', 'Low: 53 °F', 'Low: 54 °F']

In [17]:
df2=pd.DataFrame(Temp)
df2

            0
0  Low: 53 °F
1  Low: 54 °F
2  Low: 53 °F
3  Low: 54 °F

In [18]:
for i in temp1:
    Temp1.append(i.text)
Temp1

['High: 75 °F', 'High: 76 °F', 'High: 77 °F', 'High: 72 °F', 'High: 72 °F']

In [19]:
df3=pd.DataFrame(Temp1)
df3

             0
0  High: 75 °F
1  High: 76 °F
2  High: 77 °F
3  High: 72 °F
4  High: 72 °F

In [24]:
df4=pd.concat([df2,df3]).sort_index(kind='merge')
df4=df4.reset_index(drop=True)
df4=df4.rename({0:'Temperature'},axis=1)
df4

   Temperature
0   Low: 53 °F
1  High: 75 °F
2   Low: 54 °F
3  High: 76 °F
4   Low: 53 °F
5  High: 77 °F
6   Low: 54 °F
7  High: 72 °F
8  High: 72 °F

In [21]:
for i in desc:
    Desc.append(i.text)
Desc

['Sunny, with a high near 75. Calm wind becoming west northwest around 6 mph in the afternoon. ',
 'Mostly clear, with a low around 53. West wind 5 to 9 mph becoming calm  after midnight. ',
 'Sunny, with a high near 76. Calm wind becoming northwest around 5 mph in the afternoon. ',
 'Partly cloudy, with a low around 54. West wind 5 to 8 mph becoming calm  after midnight. ',
 'Sunny, with a high near 77. Light northwest wind. ',
 'Partly cloudy, with a low around 53.',
 'Mostly sunny, with a high near 72.',
 'Partly cloudy, with a low around 54.',
 'Mostly sunny, with a high near 72.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 73.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 68.']

In [22]:
df5=pd.DataFrame(Desc)
df5=df5.rename({0:'Description'},axis=1)
df5=df5.iloc[0:9]
df5

                                         Description
0  Sunny, with a high near 75. Calm wind becoming...
1  Mostly clear, with a low around 53. West wind ...
2  Sunny, with a high near 76. Calm wind becoming...
3  Partly cloudy, with a low around 54. West wind...
4  Sunny, with a high near 77. Light northwest wi...
5               Partly cloudy, with a low around 53.
6                 Mostly sunny, with a high near 72.
7               Partly cloudy, with a low around 54.
8                 Mostly sunny, with a high near 72.

In [25]:
Weather_info=pd.concat([df,df1,df4,df5],axis=1)
Weather_info

,Period,Short_desc,Temperature,Description
0,Today,Sunny,Low: 53 °F,"Sunny, with a high near 75. Calm wind becoming..."
1,Tonight,Mostly Clear,High: 75 °F,"Mostly clear, with a low around 53. West wind ..."
2,Sunday,Sunny,Low: 54 °F,"Sunny, with a high near 76. Calm wind becoming..."
3,SundayNight,Partly Cloudy,High: 76 °F,"Partly cloudy, with a low around 54. West wind..."
4,Monday,Sunny,Low: 53 °F,"Sunny, with a high near 77. Light northwest wi..."
5,MondayNight,Partly Cloudy,High: 77 °F,"Partly cloudy, with a low around 53."
6,Tuesday,Mostly Sunny,Low: 54 °F,"Mostly sunny, with a high near 72."
7,TuesdayNight,Partly Cloudy,High: 72 °F,"Partly cloudy, with a low around 54."
8,Wednesday,Mostly Sunny,High: 72 °F,"Mostly sunny, with a high near 72."

# Saving Weather information csv file

In [26]:
Weather_info.to_csv('Weather_information.csv')